{% extends 'base.html' %}

{% block content %}
    <div>
        <br>
        {% if performer_list %}
            <p>Performers registered in the database so far:</p>
            <ul>
                {% for p in performer_list %}
                    <li><a href="{% url 'performer-detail' p.pk %}">{{ p.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No performer registered in the database so far.</p>
        {% endif %}
        <p><a href="{% url 'performer-create' %}">Add performer</a></p>
        <br>
    </div>
{% endblock %}
